.header {
    width: 100vw;
    height: 100px;
    background-color: var(--clr-accent);

    font-size: 30px;
}

.header_wrapper {
    width: 600px;
    height: 100%;
    padding: 0 0 0 55px;

    display: grid;
    grid-template-columns: 205px 148px 1fr 1fr;
    align-items: center;
}

.input-control {
    height: 40px;
    width: 85px;
    text-align: center;
    font-size: 24px;
}