.header {
    width: 100vw;
    height: 100px;
    background-color: var(--clr-accent);

    font-size: 30px;
}

.header_wrapper {
    width: 1600px;
    height: 100%;
    padding: 0 0 0 55px;

    display: grid;
    grid-template-columns: 205px 148px 120px 150px 110px 1fr 120px 150px;
    align-items: center;
}

.input-control {
    height: 40px;
    width: 85px;
    text-align: center;
    font-size: 24px;
}

.header_buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.header_button {
    color: #000000;
    width: 150px;
    transition: all 200ms ease;
    font-size: 24px;
    border-radius: 10px;
}

.header_button:hover {
    color: var(--clr-crimson);
}

@media screen and (max-width: 1640px) {
    .header_wrapper {
        grid-template-columns: 205px 80px 120px 120px 110px 500px 120px 100px;
    }
}

@media screen and (max-width: 1440px) {
    .header_wrapper {
        grid-template-columns: 205px 40px 120px 120px 110px 400px 120px 100px;
    }
    .header_button {
        width: 100px;
    }
}
